<header class="b-header clearfix">
  <div class="wrap">
    <div class="contents clearfix">
      <div class="title">
        <a href="https://www.issup.net"><img src="/uploads/default/original/1X/9113bff1cc0fc93c58fcd3712da645fd5709a7fd.png" alt="ISSUP Forum" id="brand-logo" class="logo-big"></a>
      </div>
      <div class="panel clearfix">
        <ul role="navigation" class="icons clearfix">
          <li class="header-dropdown-toggle"><a title="Main navigation" aria-label="Main navigation" id="toggle-hamburger-brand-menu" class="icon btn-flat"><i class="fa fa-bars d-icon d-icon-bars" aria-hidden="true"></i></a></li>
        </ul>
        <div data-click-outside="true" class="hamburger-panel">
          <div class="navigation-panel">
            <div class="panel-body">
              <div class="panel-body-contents clearfix">
                <div>
                  <ul class="menu-links columned">
                    <li><a class="widget-link" href="https://www.issup.net/about-issup" title="About ISSUP">About ISSUP</a></li>
                    <li><a class="widget-link" href="https://www.issup.net/training" title="Training">Training</a></li>
                    <li><a class="widget-link" href="https://www.issup.net/knowledge-share" title="Knowledge Share">Knowledge Share</a></li>
                    <li><a class="widget-link" href="https://www.issup.net/national-chapters" title="National Chapters">National Chapters</a></li>
                    <li><a class="widget-link" href="https://www.issup.net/issup-events" title="ISSUP Events">ISSUP Events</a></li>
                    <li><a class="widget-link" href="/" title="Forum">Forum</a></li>
                    <li><a class="widget-link" href="https://www.issup.net/membership" title="Membership">Membership</a></li>
                  </ul>
                  <div class="clearfix"></div>
                  <hr>
                </div>
                <ul class="icons clearfix">
                  <li><a title="Facebook" href="https://www.facebook.com/issupnet" class="icon"><i class="fa fa-facebook d-icon d-icon-facebook" aria-hidden="true"></i></a></li>
                  <li><a title="twitter" href="https://www.twitter.com/issupnet" class="icon"><i class="fa fa-twitter d-icon d-icon-twitter" aria-hidden="true"></i></a></li>
                  <li><a title="linkedin" href="https://www.linkedin.com/company-beta/10953502/" class="icon"><i class="fa fa-linkedin d-icon d-icon-linkedin" aria-hidden="true"></i></a></li>
                  <li><a title="subscribe" href="http://eepurl.com/cEtfTD" class="icon"><i class="fa fa-envelope d-icon d-icon-envelope" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
