@import "common/foundation/variables";

.d-header .panel {
  max-width: 125px;
}

.b-header {
  background-color: white;

  .contents {
    margin: 4px 0;
  }

  #brand-logo {
    max-height: 32px;
  }

  .title {
    margin: 0 -220px 0 40px;
    padding: 4px 0;
  }

  .panel {
    float: left;
    margin: 0 4px 0 -4px;
  }

  .panel>ul.icons {
    margin: 0;
  }

  .panel>ul.icons [class^="fa fa-"] {
    color: #999;
    font-size: 24px;
    padding: 4px;

    &:active, &:hover {
     color: $primary;
     background-color: $primary-low;
    }
  }

  .hamburger-panel {
    display: none;

    body.docked & {
      display: none !important;
    }
  }

  .navigation-panel {
    border: 1px solid $primary-low;
    box-shadow: 0 2px 2px rgba(0,0,0, .25);
    background-color: $secondary;
    z-index: 1100;
    padding: 0.5em;
    position: absolute;
    top: 120%;
    left: -10px;
    right: -10px;
    width: 300px;

    hr {
      margin: 3px 0;
    }

    ul.menu-links {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        padding: 0.25em 0.5em;
        display: block;

        &:hover {
          background-color: $highlight-medium;
        }
      }
    }

    .panel-body {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
