.b-header {
  background-color: white;
  position: relative;
  z-index: 1002;
  height: 48px;
  margin-bottom: 0;

  .contents {
    margin: 8px 0;
  }

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: $secondary;
    }
    &:visited {
      color: $secondary;
    }
  }

  #brand-logo {
    max-height: 45px;
    padding-right: 50px;

    @media screen and (max-width: 1000px) {
      padding-right: 0;
    }
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
    padding-top: 7px;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .nav-pills {
    margin-bottom: 0;
    > li > a {
      color: $secondary;
      display: inline-block;
      line-height: 22px;
      &:hover {
        color: $quaternary;
        background-color: dark-light-diff($quaternary, $tertiary, -70%, 70%);
      }
      &.active > a, > a.active {
        color: $secondary;
        background-color: $quaternary;
      }
    }
  }

  .panel {
    float: right;
    position: relative;
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    [class^="fa fa-"] {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
  }

  .panel > ul.icons {
    float: right;
    [class^="fa fa-"] {
      color: $secondary;
    }
  }
}

.b-header nav a {
  box-sizing: border-box;
  height: 40px;
  padding: 6px 5px 6px 35px;
  position: relative;

  &:before {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 40px;
  }
}
