.b-header .nav-pills>li {
  margin: 0;
}

.b-header .nav-pills>li>a{
  transition: background .0s;
  line-height: 28px;
  font-weight: bold;
}

.b-header .nav-pills>li>a:link {
  //to allow for toggling of links
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.b-header .nav-pills>li>a:hover {
  //to allow for toggling of links
  color: #6f7072;
  background-color: white;
  padding: 6px 8px 6px 38px;
  width:auto;
}

.b-header .nav-pills>li>a[href="/"]{
  //to have this link as always selected
  color: #6f7072;
  padding: 6px 8px 6px 38px;
  width: auto;
}

.b-header .nav-pills:hover>li>a[href="/"]{
  //to set forum text to grey whilst hovering other elements
  color: #b7b8b9;
}

.b-header .nav-pills:hover>li>a[href$="/"]:hover {
  color: #6f7072;
}

.b-header nav a[href$="/"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 428 495'%3E%3Cpath fill='%23656567' d='M429 371V124L214 0 0 124v247l214 124 215-124'/%3E%3Cpath fill='%23fff' d='M166 151a59 59 0 0 1 4-16 66 66 0 0 1 20-26 89 89 0 0 1 45-21 106 106 0 0 1 71 13l6 4c7 6 14 12 19 20a63 63 0 0 1 9 30 59 59 0 0 1-8 33 70 70 0 0 1-21 23l-2 1 1 2a57 57 0 0 0 2 8l2 5a18 18 0 0 0 4 4v1a105 105 0 0 0 17 10h-1v1a57 57 0 0 1-16 0 70 70 0 0 1-22-6 149 149 0 0 1-22-10h-1a108 108 0 0 1-49-2 65 65 0 0 0-12-40c-3-6-7-10-12-15a94 94 0 0 0-34-19z'/%3E%3Cpath fill='%23fff' d='M137 291a105 105 0 0 1-25-1l-3-1-1 1a146 146 0 0 1-32 14 68 68 0 0 1-20 2l10-7 1-1 2-2a23 23 0 0 0 5-9 40 40 0 0 0 2-8l1-3-3-2a83 83 0 0 1-13-12 68 68 0 0 1-13-23 57 57 0 0 1 7-48 73 73 0 0 1 30-27l6-3a102 102 0 0 1 102 14 74 74 0 0 1 19 25 59 59 0 0 1 3 33l-2 9a108 108 0 0 0-50 18 84 84 0 0 0-26 31z'/%3E%3Cpath fill='%23fff' d='M153 402a65 65 0 0 0 23-4 156 156 0 0 0 26-12l1-1 3 1a105 105 0 0 0 57-6c10-4 19-9 27-17 5-5 10-11 13-18a59 59 0 0 0 6-40 59 59 0 0 0-12-23l-10-11a87 87 0 0 0-45-20 104 104 0 0 0-68 12l-7 5a61 61 0 0 0-27 48 57 57 0 0 0 8 32 68 68 0 0 0 21 22l2 2-1 3a105 105 0 0 1-2 10 23 23 0 0 1-6 9h-1l-11 8h3z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="about-issup"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%23f47c25' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M191 106a27 27 0 1 1-54 0 27 27 0 0 1 54 0zM191 179a27 27 0 1 0-54 0v80h1a27 27 0 0 0 52 0h1v-79-1z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="training"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%2395c73d' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M114 154h17v78h-17zM139 168h17v64h-17zM90 181h17v51H90zM245 154l-10-4v46c4 0 7-1 10-3v-39z'/%3E%3Cpath fill='%23fff' d='M191 262v-9H75V125h160v18l10 3v-21a9 9 0 0 0 0-18h-77v-9a7 7 0 1 0-15 0v9H66a9 9 0 0 0 0 18v137h125z'/%3E%3Cpath fill='%23fff' d='M168 228c-1-5 2-10 7-12l48-11c5-2 11 2 12 7s-2 11-7 12l-48 12c-5 1-10-2-12-8zM233 150a23 23 0 1 1 0 47 23 23 0 0 1 0-47z'/%3E%3Cpath fill='%23fff' d='M197 273v-35a34 34 0 0 1 68 0v34l-68 1z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="knowledge-share"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%23b2112c' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M79 208a16 16 0 1 0 32 0 16 16 0 0 0-32 0zM145 208a16 16 0 1 0 32 0 16 16 0 0 0-32 0zM210 208a16 16 0 1 0 32 0 16 16 0 0 0-32 0zM200 257a27 27 0 1 0 53 0 27 27 0 0 0-53 0zM134 257a27 27 0 1 0 54 0 27 27 0 0 0-54 0zM69 257a27 27 0 1 0 53 0 27 27 0 0 0-53 0z'/%3E%3Cpath fill='%23fff' d='M69 257h53v27H69zM134 257h54v27h-54zM200 257h53v27h-53zM182 86c0 12-9 22-21 22s-22-10-22-22 10-22 22-22 21 10 21 22z'/%3E%3Cpath fill='%23fff' d='M171 118l1-8 9-17-41-1s9 14 9 18l2 8h20zM155 127a3 3 0 1 1-5 0 3 3 0 0 1 5 0zM172 127a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM168 138a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM160 138a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath fill='%23fff' d='M153 124h16v6h-16zM157 135h8v5h-8zM134 86c0 2-1 3-3 3h-10a3 3 0 0 1 0-6h10c2 0 3 2 3 3zM204 86c0 2-1 3-3 3h-10a3 3 0 0 1 0-6h10c2 0 3 2 3 3zM161 59c-2 0-3-1-3-3V46a3 3 0 0 1 6 0v10c0 2-2 3-3 3zM181 66c-2-1-1-3 0-4l7-7a3 3 0 1 1 4 4l-7 7c-1 2-3 1-4 0zM140 65h-4l-8-8a3 3 0 0 1 4-4l8 8v4zM167 180a6 6 0 1 1-12 0 6 6 0 0 1 12 0zM226 180a6 6 0 1 1-12 0 6 6 0 0 1 12 0z'/%3E%3Cpath fill='%23fff' d='M214 152l1 1 3 12 8 12-9 8s-14-6-21-13c-8-7-14-20-14-20h11s5 9 11 12l6 4s-3-3-4-9v-7M95 179a6 6 0 1 0 12-1 6 6 0 0 0-12 1z'/%3E%3Cpath fill='%23fff' d='M107 151v1l-4 11c-2 6-7 13-7 13l8 7s14-5 22-12c7-7 13-20 13-20h-11s-5 9-11 12l-6 4s4-4 4-9l1-7M175 152l-8 28h-12l-8-28h10l4 12 3-12h11z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="national-chapters"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%231a73ba' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M186 272c0-3 0-6 2-7 3 0 7-1 8-5s0-5-2-9c-1-5 3-3 8-9 5-5 15-22 10-21-5 0-16 0-20-3s-10-7-10-13c0-5 1-8 4-5s5 2 9 7c4 6 7 11 12 9 4-2 5-4 6-8l3-9c1-3 2-8-2-6s-11 4-12 0-6-9 2-7c7 2 12 1 16-2 4-4 11-3 15 0 3 4 6 5 7 2 2-4-2-14 4-21l3-3a93 93 0 0 1-63 110zM65 183c0-24 9-46 24-62 0 5 1 9 2 9 3-1 8 7 7 12-1 6 5 7 7 4 3-3 4-13 8-17s2-9-2-12c-4-2-6-5-2-8 4-4 16-1 18 0 2 2-4 3-5 7-2 4 1-2 4 2s11-4 14-1c3 4-18 7-17 12s9 4 18 3c10-1 16-12 19-19 3-6-11-5-14-8-3-2 4-12 4-12l-1-3a95 95 0 0 1 37 4c-1 4-3 13-2 18 1 6 1 12-1 14s-4 7-9 7c-4 1-20-4-25 3s-6 13-2 14c5 1 8-3 10-7 1-3 8-5 7 1s-9 16-12 14c-4-3-8-5-10-2-3 2-4 7-7 6-3 0-8-1-6 2s4 8 2 8c-3 0-8-2-10 5-3 6-1 7 6 7 7-1 7-5 11-8s8-2 11 2c3 5 6 9 7 8 0-2-1-8-3-11s2-6 3-2l6 12c2 1 6-7 9-12s7-5 11-4c4 2 3 4-2 7-6 2-12 5-10 7 3 2 13-1 13 3s-4 12-15 10l-22-6c-6-2-39-6-44 13s-3 28 9 31 30-5 32 3c3 8 7 17 6 26l1 13c-48-5-85-45-85-93zm94-111a112 112 0 1 0 0 224 112 112 0 0 0 0-224z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="events"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%231e3364' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M235 248c0 2-2 4-5 4H92c-3 0-5-2-5-4V125c0-3 2-5 5-5h138c3 0 5 2 5 5v123zm-2-139H90c-8 0-14 6-14 14v127c0 7 6 13 14 13h143c7 0 13-6 13-13V123c0-8-6-14-13-14z'/%3E%3Cpath fill='%23fff' d='M113 157h21v16h-21zM150 157h22v16h-22zM187 157h22v16h-22zM113 184h21v16h-21zM150 184h22v16h-22zM187 184h22v16h-22zM113 211h21v16h-21zM150 211h22v16h-22zM187 211h22v16h-22zM119 93c2 0 5 3 5 5v33a5 5 0 0 1-11 0V98c0-2 3-5 6-5zM161 93c3 0 5 3 5 5v33a5 5 0 0 1-10 0V98c0-2 2-5 5-5zM203 93c3 0 5 3 5 5v33a5 5 0 1 1-10 0V98c0-2 2-5 5-5z'/%3E%3C/svg%3E");
}

.b-header nav a[href$="membership"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 322 372'%3E%3Cpath fill='%23ee2238' d='M321 278V93L161 0 0 93v186l161 92 160-92'/%3E%3Cpath fill='%23fff' d='M63 124a29 29 0 1 0 57 0 29 29 0 0 0-57 0zM132 140a29 29 0 1 0 58 0 29 29 0 0 0-58 0zM201 124a29 29 0 1 0 58 0 29 29 0 0 0-58 0zM230 164c-15 0-28 7-36 17 14 10 24 27 24 47v32h60v-48c0-27-22-48-48-48zM92 164c15 0 28 7 37 17a57 57 0 0 0-25 47v32H45v-48c0-27 21-48 47-48z'/%3E%3Cpath fill='%23fff' d='M209 231v-3a48 48 0 1 0-96 7v41h40a48 48 0 0 0 16 0h40v-45z'/%3E%3C/svg%3E");
}

.b-header .panel>ul.icons [class^="fa fa-facebook"] {
  color: #3b5998;
}

.b-header .panel>ul.icons [class^="fa fa-twitter"] {
  color: #00aced;
}

.b-header .panel>ul.icons [class^="fa fa-linkedin"] {
  color: #0077B5;
}

.b-header .panel>ul.icons [class^="fa fa-envelope"] {
  color: #5A5B5C;
}

.b-header .panel>ul.icons {
  margin-top: 10px;
  margin-left: -10px;
}
